*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  

}
.header-execute{
    margin-bottom: 117px;
    padding: 41px;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 117px; */
}
.header-nav{
    width: 680px;
    align-items: center;

}
.header-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-list-item{
    
}
.header-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
    opacity: 0,3;
    /* height: 20px; */
   
}
.header-link.active{
    margin-bottom: 17px;
}
.header-home-line{
    /* background: #717CFF; */
    display: block;
    border-radius: 2px;
    width: 23px;
    height: 3px;
    color: #1a29cc;
    

}

.header-btn{
    display: block;
    border: 2px solid #717CFF;
    border-radius: 11px;
    width: 111px;
    height: 42px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}
.header-button{
    padding: 20px 60px;
    color: #505050;

}
.btn{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    line-height: 20px;
    text-transform: capitalize;
   
    
}

/* .button-name{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #505050;
    width: 43px;
    margin-right: auto;
    margin-left: auto;
} */
.hero-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.hero-name{
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #2F2F2F;
    width:450px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.hero-build-senetnce{
    color: #717CFF;

}
.hero-name-extention{
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
    width: 550px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 42px;

}
.hero-link{
    color: #717CFF;
    background: #717CFF;
    border-radius: 11px;
    width: 262px;
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 108px;
}
.hero-link-name{
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    width: 138px;
    text-decoration: none;
    /* margin-right: 34px; */
    margin-top: 12px;
    margin-bottom: 12px;

}
.arrow-img{
    display: block;


}
.hero-left-img{
    width: 159px;
}
.hero-left-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-list-item{
    list-style-type: none;
    
}




.hero-right-div{

}


.universities{
    width: 1440px;
    height: 423px;

}
/* .univer-box{
    margin-right: auto;
    margin-left: auto;
} */

.univer-inner{
    
    margin-right: auto;
    margin-left: auto;
}
.univer-title{
    margin-bottom: 94px;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    mix-blend-mode: normal;
    opacity: 0.73;
}
.univer-list{
    width: 1196px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 105px;
}
.univer-list-item{
    list-style-type: none;
}


.univer-button{
    width: 107px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 55px;
}
.univer-btn.active{
    width: 14px;
    height: 14px;
    background: #717CFF;;
    border-radius: 50%;
}
.univer-btn{
    width: 10px;
    height: 10px;
    /* left: 702px;
    top: 1128px; */
    background: #7c7c7c51;
    border-radius: 50%;
    border: none;
}
#services{
    padding: 122px 0px 126px 0px;
    background-color: #f2f2f2;
}

.services-info{
    margin-right: auto;
    margin-left: auto;

    
}
.service-title-box{
    padding-top: 122px;
    align-items: center;
    text-align: center;
    width: 949px;

}


.services-title{
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    margin-bottom: 25px;
   
}
.services-text{
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    width: 949px;
    margin-bottom: 110px;
    margin-right: auto;
    margin-left: auto;
    

}
.services-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    
}


.services-list-item{
    width: 344px;
    height: 351px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 77px rgba(0, 0, 0.8, 0.06);
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 30px;
}


.services-list-img{
    margin-bottom: 30px;
}
.list-item-name{
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
    margin-bottom: 9px;

}
.list-item-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
    margin-bottom: 25px;
    
}
.list-item-link{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
    /* width: 92px; */
    text-decoration: none;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.list-item-link-img{
   margin-left: 10px; 
}













